/* --------- Hypertext links --------- */
a {  
	background-color: transparent;
	color: #0560A6;
	text-decoration: none;
}
a:hover {}
a:active {color: #FF0000;}

/* --------- Titles --------- */
h1 {
	font-size: 1.4em;
	font-weight: bold;
	
}
h2 {font-size: 1.2em;}
h3 {
	padding-bottom: 3px;
	font-size: 1em;
	
}
h4 {font-size: 1em;}
h5 {font-size: .9em;}
h6 {font-size: .8em;}

/* --------- Images --------- */
img {
	position: relative;
	border: 0;  
}




/* --------- Others --------- */
acronym, abbr, dfn {
	border-bottom: 1px dotted #333;
	cursor: help;
}
q, cite, em, dfn, strong {font-style : italic;}
strong, dfn {font-weight: bold;}
del {text-decoration: line-through;}
address {
	font-style: normal;
	letter-spacing: .1em;
}
hr {display: none;}

/* --------- Tables and cells --------- */
table {
	width: 100%;
	text-align:left;
}
table td {
	padding: 0;
	vertical-align: top;
	border-width: 0;  
}
th {
	padding: 4px;
	vertical-align: middle;
	background-color:#CDE0FD;
	color:#0E4380;
	
	
}
.outer {
	padding: 2px;
	/*border: 1px solid #ccc;*/
}
.head {
	background-color: #f3f3f3;
	padding: 5px;
	font-weight: bold;
	
}
.even {
	background-color: #fff;
	padding: 5px;
	border-bottom: 1px dotted #DDDDFF;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #DDDDFF;
	border-bottom: 1px solid #DDDDFF;
}
.odd {
	background-color: #fff;
	padding: 5px;
	border-bottom: 1px dotted #DDDDFF;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #DDDDFF;
	border-bottom: 1px solid #DDDDFF;
}
.foot {
	background-color: #f3f3f3;
	padding: 5px;
	font-weight: bold;
}
tr.even td {
	background-color: #fff;
	padding: 5px;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #DDDDFF;
	border-bottom: 1px solid #DDDDFF;
}
tr.odd td {
	background-color: #fff;
	padding: 5px;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #DDDDFF;
	border-bottom: 1px solid #DDDDFF;
}

/* --------- Core messages --------- */
.errorMsg {
	background-color: #FFCCCC;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	font-weight: bold;  
}
.confirmMsg {
	background-color: #DDFFDF;
	padding: 10px;
	color: #136C99;  
	text-align: center;
	font-weight: bold; 
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;   
}
.resultMsg {
	background-color: #c1c1c1;
	padding: 10px;
	color: #333;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;  
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;  
}

/* --------- Codes and Quotes --------- */
.xoopsCode {
	max-height: 200px;
	margin: 6px;
	background-color: #fafafa;
	padding: 6px; 
	overflow: auto;
	color: #666;
	font-family: Segoe UI, Tahoma, "Lucida Console", "courier new", monospace;
	font-size: .9em; 
	border: 1px solid #639ACC;
	border-left:1px solid #639ACC; 
}
.xoopsQuote {
	margin: 6px;
	background: #fafafa url("../img/quote.gif") no-repeat 5px 10px;  
	padding: 6px 6px 6px 40px;  
	font-style: normal;
	border: 1px solid #639ACC;
	border-left: 2px solid #639ACC; 
}

/* --------- Articles --------- */
.item {
	margin-top: 20px;
	
     
	
}
.itemHead {
	
	height: 20px;
	padding-bottom:0px;    /*background: #B2DFEE;*/
	background: url("../img/tabgroup.jpg") no-repeat ;  
	
}
.itemInfo { 
	background-color: #F7F7F7;
	padding: 3px;
	text-align:left; 
}
.itemTitle {
	color: #11449E;   
	
}
.itemTitle a {
	padding: 10px;
	color: #11449E;
	text-decoration: none;
	font-family: Segoe UI,Tahoma,Arial,Helvetica,sans-serif;
	font-size:1.2em;
	font-weight: bold;
	line-height: 1.2em;
	
	
	
	
}
.itemPoster {
	font-size: .9em;
	font-style: normal;
}
.itemPostDate {
	font-size: .9em;
	font-style: normal;
}
.itemStats {
	font-size: .9em;
	font-style: normal; color:red;
}
.itemBody {
padding-left : 3px;



}
.itemText {
	color:#666666;
	font-size:1.1em;
	line-height:1.4em;
	padding:10px;
	font-family: Segoe UI,Tahoma,Arial,Helvetica,sans-serif;
	
}
.itemFoot {  
	border: ; 
	border-left: none; 
	border-right: none; 
	/*background : url("../img/2.png") no-repeat bottom;*/
	padding: 10px 10px; 
	margin: 2px 0px 0px 10px; 
	color: #597eb2 !important; 
	font-family: Segoe UI,Tahoma,Arial,Helvetica,sans-serif;
	text-align:center;

	
	
	
	
}
.itemAdminLink {
    font-size: .9em;  color:red;
   
	
}
.itemPermaLink {
    font-size: .9em; 
	background: 					url("../img/comments.png") bottom right no-repeat;
	margin: 							0 20px 10px 0; 
	padding: 						0 20px; 
	padding-bottom:4px;	
	color:     red;
}

/* --------- Forums and Comments --------- */
.comTitle {
	margin-bottom: 2px;
	font-weight: bold;  
}
.comText {padding: 2px;}
.comUserStat {
	margin: 2px; 
	background-color: #fff;
	padding: 2px; 
	font-size: .8em;
	font-weight: ;
	border: 1px solid #ccc;   
}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {
	margin-left: 2px;
	margin-top: 10px;
	font-weight: bold;
	font-size: .8em;
}
.comUserRank {margin: 2px;}
.comUserRankText {
	font-size: .9em;
	font-weight: bold;
}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {
	font-weight: normal;
	font-style: normal;
	font-size: .9em;
}  
.comDateCaption {
	font-weight: bold;
	font-style: normal;
	font-size: .8em;
}
.signature {
	font-size: .8em;
	font-style: normal;
}
